<!DOCTYPE HTML>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<body>
<style>
    .container {
        margin-top: 40px;
    }
</style>
<div class="container">
    <h1>Welcome to demo app</h1>
    <h4>Play and learn RealtimeBoard platform</h4>
    <p style="margin-top: 40px">
        <a href="http://developers.realtimeboard.com" target="_blank">Documentation</a> can be useful<br>
        Use <span class="badge badge-light">{{baseUrl}}/oauth</span> for redirect uri.<br>
        Use <span class="badge badge-light">{{baseUrl}}/events</span> for webhook uri.<br>
        Web-plugin example <span class="badge badge-light">{{baseUrl}}/static/web-plugin/main.js</span>

        <!--Open <a href="/playground">/playground/</a> for exploring API.-->
    </p>
</div>
</body>
</html>